body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
  }
  
  .profile-card {
    background: white;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .table th {
    width: 30%;
    text-align: left;
    font-weight: 600;
  }